html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
}

#wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
}

#command-div {
  display: flex; 
  flex-flow: row;
  border-bottom: 1px solid #CCC;
  box-shadow: 0 0 3px #BBB;
  z-index: 20;
}
#command-box {
  padding: 5px 10px;
  flex-grow: 1;
  border: none;
  font-size: 150%;
}
#submit-button {
  margin: 5px;
  padding: 5px;
  font-size: 120%;
}

#display-wrapper {
  flex-grow: 1;
  display: flex;
  flex-flow: row;
  align-items: stretch;
}
#display-editor, #display-main, #display-choices {
  flex-grow: 1;
  flex-basis: 0;
}
#display-main {
  background-color: #f6f6f7;
  padding: 20px;
}

#display-editor {
  display: flex;
  flex-flow: column;
}
#editor-menu {
  padding: 8px 5px;
  text-align: right;
  background-color: #f6f6f7;
}
#editor {
  flex-grow: 1;
  border-top: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

#err {
  margin-bottom: 1em;
}
.err {
  color: #A00;
  font-size: 80%;
}

.num-results, .paginate-footer {
  margin: 10px;
}
#display-choices {
  position: relative;
}
#display-candidates {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.candidate-div {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: #fcfcfd;
}
.paginate-footer {
  display: table;
}
.paginate-footer > div {
  display: table-cell;
  width: 100%;
}
.paginate-footer > div:last-child {
  text-align: right;
}
.paginate-link {
  padding: 8px;
}
.paginate-link.clickable {
  color: #07C;
  cursor: pointer;
}
.paginate-link.clickable:hover {
  background-color: #f6f6f7;
  text-decoration: underline;
}
