html, body, #root {
  /*height: 100%;
  width: 100%;*/
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.container {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: #fafbfc;
  position: absolute;
  top: 0;
  padding-top: 50px; /* Mirrored by .Header height */
}

html {
  font-size: 75%;
}

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

input {
  /*width: 100%;*/
  background-color: rgba(0,0,0,0);
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  /*line-height: 1.4;*/
  /*padding: 0.5em 1em;*/
  border: 0;
  outline: none;
  /*border: 1px solid rgba(60, 60, 60, 0.1);*/*/
  font-weight: 700;
}

::placeholder {
  font-weight: 400;
}

button {
  font-size: 1em;
  /*line-height: 1.5em;*/
  height: 2em;
  width: auto;
  padding: 0.5em 0.5em;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 900;

  border: 0;
  /*text-transform: uppercase;*/
  color: #111;
  background-color: rgba(200,200,200,0.5);
  border-radius: 1px;
  transition: 0.2s ease background-color;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(200,200,200,1);
}

button.active {
  color: #111;
  cursor: pointer;
}

button.active:hover {
  background-color: rgba(200,200,200,1);
}

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 100;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}

.md-button {
  color: rgb(100, 100, 100);
  margin-left: 5px;
  cursor: pointer;
  align-self: center;
}
.md-button:hover {
  cursor: pointer;
  color: rgb(200, 200, 200);
}

.Overlay  {
  position          : fixed;
  top               : 0;
  left              : 0;
  right             : 0;
  bottom            : 0;
  background-color   : rgba(75, 75, 75, 0.4);
  z-index: 1001;
}

.ReactModal__Overlay  {
  top: '50%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  transform: 'translate(-50%, -50%)';
  background-color   : rgba(75, 75, 75, 0.4);
  z-index: 9999;
}
.ReactModal__Overlay  .ReactModal__Content {
  position: relative !important;
}
.ReactModal__Overlay .closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.ReactModal__Overlay .wrapper {
  padding: 20px;
}
