.after-header {
  width: 100%;
  height: 100%;
  background-color: #fafbfc;
  position: absolute;
  top: 0;
  padding: 0px;
  padding-top: 50px; /* Mirrored by .Header height */
}

.ui.fullscreen.modal {
    width: 90%!important;
    left: 5%!important;
    padding: 5px;
    /* height: 90%!important; */
    /* border-radius: 0px; */
}
