.SidePanel {
  /*top: 50px;*/
  left: 0;
  width: 50% !important;
  background-color: #FFF;
  height: 95%;
  position: absolute;
  box-shadow: 0 4px 8px rgba(51,51,51,0.15);
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease;
  overflow: hidden;
}

@media (max-height: 600px) {
  .SidePanel {
    top: 50px;
  }
}

.SidePanel-header {
  font-size: 1.8rem;
  font-weight: 900;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #efefef;
  justify-content: space-between;
}

.editor-chart {
  flex-grow: 1;
  width: 100%;
  display: flex;
  overflow: top;
}

.spec-editor {
  flex-grow: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.SidePanel-header-arrow {
  cursor: pointer;
}

.Target.collapsed,
.SidePanel.collapsed {
  width: 50px !important;
}

.Target.collapsed .SidePanel-header-name,
.Target.collapsed .Target-struct,
.Target.collapsed .Target-metadata,
.SidePanel.collapsed .SidePanel-content,
.SidePanel.collapsed .SidePanel-header-name {
  display: none;
}

.SidePanel-content {
  padding: 0px;
  display: flex;
  bottom: 0px;
  height: 80%;
  flex-wrap: wrap;
}
