.control-bar {
  float:right;
}


.header {
  /*font-size: 1em;*/
  padding: 10px;
  display: flex;
}

.status {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.headerButton {
  align-self: center;
  font-size: 1.2em;
  margin-left: 20px;
}

.absolute-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.labelInput {
  /*font-size: 1em;*/
  margin-left: 1.2em;
  padding-left: 0.5em;
  width: 50%;
  max-width: 30em;
  background-color: rgba(200, 200, 200, 0.5);
}

.half-panel {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  float: center;
}

.info {
  margin-top: 10px;
  font-size: 1em;
}

.label {
  font-size: 1.2em;
  font-weight: bold;
  height: 30px;
}

.control-bar button {
  margin: 5px;
  margin-top: 5px;
  font-weight: normal;
}

.diffEditor {
}

.changed-gutter{
    border-radius: 0px 0px 0px 0px;
    background: rgba(100,200,100,0.5);
}

.changed-lines{
  position:absolute;
  background:rgba(100,200,100,0.5);
  /*z-index:40*/
}

.overlay-checkbox {
  height: 15px;
  width: 15px;
  margin: 10px;
}

.overlay-bot{
  display: none;
}
.overlay-top {
}
