/*.Overlay  {
  position          : fixed;
  top               : 0;
  left              : 0;
  right             : 0;
  bottom            : 0;
  background-color   : rgba(75, 75, 75, 0.4);
  z-index: 1001;
}

.LabelModal {
  margin: 5px;
  background-color: #FFF;
  box-shadow: 0 4px 8px rgba(51, 51, 51, 0.15);
  padding: 5px;
  border    : 1px solid #ccc;
  outline   : none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -400px;
  width: 800px;
  height: 700px;
}
*/
/*.LabelModal_after-open  {
  position                   : absolute;
  border                     : 1px solid #ccc;
  overflow                   : hidden;
  WebkitOverflowScrolling    : touch;
  borderRadius               : 4px;
  outline                    : none;
  padding                    : 20px;
  background-color   : rgba(244, 244, 244, 1);
  z-index                 : 3;
}*/

.control-bar {
  float:right;
}


.header {
  font-size: 1.3em;
  font-weight: bold;
  width: 800px;
  padding-bottom: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.label-box {
  font-size: 1em;
  margin: 5px;
}

.before-after {
  display: flex;
  width: 775px;
  height: 400px;
  padding: 10px;
  float: center;
}

.before {
  width: 395px;
  height: 400px;
  overflow: auto;
  padding: 10px;
  overflow-x: scroll;
  border: 1px solid rgba(0, 0, 0, 1);
}

.info {
  margin: 5px;
  padding: 5px;
  font-size: 1.2em;
}

.label {
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
}

.control-bar button {
  margin: 5px;
  margin-top: 5px;
  font-weight: normal;
}

.diffEditor {
  padding: 10px;
}

.changed-lines{
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:40
}
