.chart {
  padding: 0px;
  max-width: 500px;
  max-height: 500px;
  width: 400px;
  height: auto;
  object-fit: scale-down;
}
.big-chart {
  padding: 0px;
  width: 600px;
  max-width: 800px;
  max-height: 800px;
  height: auto;
  object-fit: scale-down;
}

.vega-plot {
  width: inherit;
  height: inherit;
  object-fit: scale-down;
}

.display-errors {
  font-size: 0.8em;
  margin: 0;
  color: red;
}
.display-warns {
  font-size: 0.8em;
  margin: 0;
  color: orange;
}
