.chart {
  padding: 0px;
  max-width: 500px;
  max-height: 500px;
  width: 500px;
  object-fit: contain;
}
.big-chart {
  padding: 0px;
  width: 700px;
  object-fit: contain;
}

.vega-plot {
  width: inherit;
  height: inherit;
}

.display-errors {
  font-size: 0.8em;
  margin: 0;
  color: red;
}
.display-warns {
  font-size: 0.8em;
  margin: 0;
  color: orange;
}
