.absolute-wrapper {
    /*display: flex;
    flex-direction: column;
    align-items: stretch;*/
    position: absolute;
    top: 0; bottom: 0;
    width: 100%;
    height: 100%;
}

.SpecEditor {
  overflow-y: auto; width:100%; height: 100%; border:red solid thin; position: relative;
}
